*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    display: flex;
    background-color: white;
    margin-bottom: 50px;
    height: 80px;
    align-items: center;
}

h1{
    padding: 10px;
    display: inline-block;
    font-size: 50px;
}
main{ 
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid rgb(245, 248, 249);
}

body{
    background-color: rgb(245, 248, 249);
}

/* task and section */
.add{
    background-color: white;
    border-bottom: 1px solid  rgb(203, 208, 212);
    padding: 10px;
    margin-top: 5px;
}
.border-add{
    border: 1px solid  rgb(203, 208, 212);
    border-radius: 10px;
    display: inline-block;
    padding: 5px 15px;
}
#task{
    background-color: rgb(72, 173, 241);
    color: white;
    margin-left: 40px;
}
#section{
    color:  rgb(203, 208, 212);
}

/* list */
ul{
    margin-left: 50px;
    list-style: none;
}

h2{
    margin-top:25px;
    margin-bottom: 5px;
}
.list{
    padding-bottom: 10px;
    font-size: large;
}

.true{
    border: 1px solid rgb(99, 192, 169);
    color:rgb(99, 192, 169);
    border-radius: 50%;
    display: inline-block;
    padding: 1px;
    margin-right: 5px;
}

.false{
    border: 1px solid red;
    color:red;
    border-radius: 50%;
    display: inline-block;
    padding: 1px;
    margin-right: 5px;
}

.cube{
    border-radius: 20px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 10px;
    color: white;
}
.editorial{
    background-color: rgb(72, 173, 241);
}
.goals{
    background-color: rgb(155, 113, 227);
}
.recruiting{
    background-color: rgb(99, 192, 169);
}
.mobile{
    background-color: rgb(242, 158, 51);
}
.website{
    background-color:rgb(215, 99, 161);
}
.sales{
    background-color: rgb(176, 201, 37);
}





